<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
 charset="UTF-8" />
 <link rel="stylesheet" href="src/public/resources/css/api.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e08c778197.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="src/public/resources/css/api.css">

<title>Services</title>
</head>
<body>

<header>
    <div class="container">
        <div class="nav">
            <h2><i class="fa-solid fa-camera" style="color:coral;"></i>Services</h2>
                <div class="search-box">
                    <input type="text" id="input" placeholder="Search.."><i onClick="loadImage" class="fa-solid fa-magnifying-glass"></i>
                </div>
        </div>
     </div>
</header>

<div class="container">
    <div class="grid">

    </div>
</div>

<script src="school.js"></script>
</body>
</html>